<!DOCTYPE html>
<html>
<head>
    <title>Quên mật khẩu</title>
    <%- include('header') -%>
</head>
<body>
    <header class="header">
        <div class="header-inner d-flex-sb header-mw">
            <div class="logo d-flex">
                <a href="/"><img src="/public/images/logo/logo1.png" class="cf-img"></a>          
            </div>
        </div>
    </header>
    <div class="main main-login main-forgot font-size-lg-1">
        <div class="main-inner d-flex-center-top">
            <div class="forgot-info forgot-password">
                <div class="d-flex-start">
                    <h2 class="login-title">Trở lại tài khoản Fodance của bạn</h2>
                </div>
                <form method="post" action="/forgot-password" novalidate class="d-flex-col-start username-form">
                    <p>Bạn quên mật khẩu của mình? Trước hết hãy cung cấp cho chúng tôi thông tin về tài khoản của bạn để lấy lại mật khẩu</p>
                    <label>Nhập email hoặc số điện thoại</label>
                    <input type="text" name="username" class="username">
                    <span class="error"></span>
                    <div class="d-flex-sb">
                        <div class="next">
                            <button type="button" name="submit" disabled="disabled" class="submit next-but">Gửi</button>
                            <span class="iconify spin spinner" data-icon="icomoon-free:spinner9" data-inline="false"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/public/js/forgot.js" async></script>
</body>
</html>