<!DOCTYPE html>
<html>
<head>
    <title>Trang không tồn tại</title>
    <%- include('header') -%>
</head>
<body>
    <div class="main main-login bg-color font-size-lg-1">
        <div class="main-inner d-flex-center-top">
            <div class="d-flex-col">
                <span class="iconify" data-icon="cib:furry-network" data-inline="false" style="font-size: 100px; color: #515151"></span>
                <h2 class="pd">Rất tiếc, trang hoặc tài khoản này không tồn tại!</h2>                
                <a href="/" class="font-size-lg-1 theme-color none-deco">Trở về trang chủ?</a>
            </div>
        </div>
    </div>
    <script src="/public/js/forgot.js" async></script>
</body>
</html>