<% extend('layout') %>   
<div class="category-frame">
    <div class="category">
        <div class="d-flex group-title">
            <span class="font-size-lg-2 none-deco none-mg">Cộng đồng</span>
        </div>
    </div> 
</div>
<div class="main-frame-post d-flex">
    <div class="main-frame-post-inner-personal frame-post-content d-flex-col">
        <div class="post-section">
            <div class="loading-post">
                <div class="d-flex-start loading-content">
                    <div class="loading-post-circle mg-r"></div>
                    <div class="d-flex-col-start-content width-80">
                        <div class="loading-post-line width-30 mg-b-sm"></div>
                        <div class="loading-post-line width-20"></div>
                    </div>
                </div>
                <div class="loading-post-line width-90 mg-b-sm"></div>
            </div>
        </div>
    </div>
</div>