<!DOCTYPE html>
<html>
<head>
    <title>Quên mật khẩu</title>
    <%- include('header') -%>
</head>
<body>
    <header class="header">
        <div class="header-inner d-flex-sb header-mw">
            <div class="logo d-flex">
                <a href="/"><img src="/public/images/logo/logo1.png" class="cf-img"></a>          
            </div>
        </div>
    </header>
    <div class="main main-login bg-color font-size-lg-1">
        <div class="main-inner d-flex-center-top">
            <div class="forgot-info forgot-password">
                <p>Mã đặt lại mật khẩu đã hết hạn hoặc không hợp lệ, để tiếp tục đổi mật khẩu hãy gửi yêu cầu mới!</p>
                <div class="signup-choice">
                    <a href="/forgot-password" class="font-size-lg-1">Trở lại</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/js/forgot.js" async></script>
</body>
</html>