<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/public/images/Logo/icon.ico" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.10.1/css/xeditable.min.css"/>
<link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/style.css"/>
<script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.10.1/js/xeditable.min.js"></script>
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
<script src="/public/js/emoji-button-3.1.1.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.12/lottie.min.js'></script>
<script src="/public/js/face-api.min.js"></script>
<script src="/public/js/adapter.js"></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=2671130773138286&autoLogAppEvents=1" nonce="LtyavPK4"></script>
<meta charset="UTF-8">
<title>Lingyo</title>
<!-- <meta http-equiv="Content-Security-Policy" content="media-src: 'self' mediastream: blob:;"> -->
<meta name="keywords" content="Lingyo - Thi đấu nhảy múa, xếp hạng vũ công">
<meta name="description" content="Thi đấu nhảy múa, xếp hạng vũ công...">
<meta property="og:url"           content="https://lingyo.vn" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Lingyo - Thi đấu nhảy múa, xếp hạng vũ công" />
<meta property="og:description"   content="Thi đấu nhảy múa, xếp hạng vũ công..." />
<!-- <meta property="og:image"         content="https://lingyo.vn/public/images/banner.jpg" /> -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-C7WN52P1FK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C7WN52P1FK');
</script> -->