<html>
  <head>
    <title> Lingyo - Chính sách quyền riêng tư</title>
  </head>
    <body>
      <h1> Lingyo - Chính sách quyền riêng tư</h1>
    <p> Đã cập nhật vào lúc 2020-12-28 </p>
    
    <p> Lingyo (“chúng tôi,” “của chúng tôi” hoặc “chúng tôi”) cam kết bảo vệ quyền riêng tư của bạn. Chính sách Bảo mật này giải thích cách thức thu thập, sử dụng và tiết lộ thông tin cá nhân của bạn bởi Lingyo. </p>
    <p> Chính sách Bảo mật này áp dụng cho trang web của chúng tôi và các miền phụ liên quan của nó (gọi chung là “Dịch vụ” của chúng tôi) cùng với ứng dụng của chúng tôi, Lingyo. Bằng cách truy cập hoặc sử dụng Dịch vụ của chúng tôi, bạn có nghĩa là bạn đã đọc, hiểu và đồng ý với việc chúng tôi thu thập, lưu trữ, sử dụng và tiết lộ thông tin cá nhân của bạn như được mô tả trong Chính sách quyền riêng tư này và Điều khoản dịch vụ của chúng tôi. </p>
    
    <h1> Định nghĩa và thuật ngữ chính </h1>
    <p> Để giúp giải thích mọi thứ rõ ràng nhất có thể trong Chính sách Bảo mật này, mỗi khi bất kỳ điều khoản nào trong số này được tham chiếu, đều được xác định rõ ràng là:
     <ul>
       <li> Cookie: một lượng nhỏ dữ liệu được tạo bởi một trang web và được lưu bởi trình duyệt web của bạn. Nó được sử dụng để xác định trình duyệt của bạn, cung cấp số liệu phân tích, ghi nhớ thông tin về bạn, chẳng hạn như tùy chọn ngôn ngữ hoặc thông tin đăng nhập của bạn. </li>
       <li> Công ty: khi chính sách này đề cập đến “Công ty”, “chúng tôi”, “chúng tôi” hoặc “của chúng tôi”, thì chính sách này đề cập đến Lingyo, chịu trách nhiệm về thông tin của bạn theo Chính sách quyền riêng tư này. </li>
       <li> Quốc gia: nơi Lingyo hoặc chủ sở hữu / người sáng lập Lingyo đặt trụ sở, trong trường hợp này là VN </li>
       <li> Khách hàng: đề cập đến công ty, tổ chức hoặc cá nhân đăng ký sử dụng Dịch vụ Lingyo để quản lý các mối quan hệ với khách hàng hoặc người dùng dịch vụ của bạn. </li>
       <li> Thiết bị: mọi thiết bị được kết nối internet như điện thoại, máy tính bảng, máy tính hoặc bất kỳ thiết bị nào khác có thể được sử dụng để truy cập Lingyo và sử dụng các dịch vụ. </li>
       <li> Địa chỉ IP: Mọi thiết bị được kết nối với Internet đều được gán một số được gọi là địa chỉ giao thức Internet (IP). Những con số này thường được chỉ định trong các khối địa lý. Địa chỉ IP thường có thể được sử dụng để xác định vị trí mà thiết bị đang kết nối với Internet. </li>
       <li> Nhân sự: đề cập đến những cá nhân được Lingyo tuyển dụng hoặc theo hợp đồng thực hiện dịch vụ thay mặt cho một trong các bên. </li>
       <li> Dữ liệu Cá nhân: bất kỳ thông tin nào trực tiếp, gián tiếp hoặc liên quan đến thông tin khác - bao gồm cả số nhận dạng cá nhân - cho phép nhận dạng hoặc khả năng nhận dạng của một thể nhân. </li>
       <li> Dịch vụ: đề cập đến dịch vụ do Lingyo cung cấp như được mô tả trong các điều khoản tương đối (nếu có) và trên nền tảng này. </li>
       <li> Dịch vụ của bên thứ ba: đề cập đến các nhà quảng cáo, nhà tài trợ cuộc thi, đối tác quảng cáo và tiếp thị và những người khác cung cấp nội dung của chúng tôi hoặc có sản phẩm hoặc dịch vụ mà chúng tôi nghĩ có thể khiến bạn quan tâm. </li>
       <li> Trang web: Trang web của Lingyo, có thể được truy cập qua URL này: https: fodance.com </li>
       <li> Bạn: một cá nhân hoặc tổ chức đã đăng ký với Lingyo để sử dụng Dịch vụ. </li>
     </ul>
    </p>
    <h1> Chúng tôi thu thập thông tin gì? </h1>
    <p> Chúng tôi thu thập thông tin từ bạn khi bạn truy cập trang web / ứng dụng của chúng tôi, đăng ký trên trang web của chúng tôi, đặt hàng, đăng ký bản tin của chúng tôi, trả lời khảo sát hoặc điền vào biểu mẫu. </p>
    
    <ul> <li> Tên / Tên người dùng </li> <li> Số điện thoại </li> <li> Địa chỉ Email </li> <li> Số thẻ ghi nợ / thẻ tín dụng </li> <li> Tuổi </ li > <li> Mật khẩu </li>
      </ul>
      <p> Chúng tôi cũng thu thập thông tin từ các thiết bị di động để có trải nghiệm người dùng tốt hơn, mặc dù các tính năng này hoàn toàn là tùy chọn: </p> <ul> <li> Thư viện ảnh (Hình ảnh): Cấp quyền truy cập thư viện ảnh cho phép người dùng tải lên bất kỳ ảnh nào từ thư viện ảnh của họ, bạn có thể từ chối một cách an toàn quyền truy cập thư viện ảnh đối với trang web / ứng dụng này. </li>
      </ul>
      <h1> Chúng tôi sử dụng thông tin mà chúng tôi thu thập được như thế nào? </h1>
    <p> Bất kỳ thông tin nào chúng tôi thu thập từ bạn đều có thể được sử dụng theo một trong những cách sau:
    <ul>
    <li> Để cá nhân hóa trải nghiệm của bạn (thông tin của bạn giúp chúng tôi đáp ứng tốt hơn nhu cầu cá nhân của bạn) </li>
    <li> Để cải thiện trang web / ứng dụng của chúng tôi (chúng tôi liên tục cố gắng cải thiện các dịch vụ trang web / ứng dụng dựa trên thông tin và phản hồi mà chúng tôi nhận được từ bạn) </li>
    <li> Để cải thiện dịch vụ khách hàng (thông tin của bạn giúp chúng tôi đáp ứng hiệu quả hơn các yêu cầu dịch vụ khách hàng và nhu cầu hỗ trợ của bạn) </li>
    <li> Để xử lý các giao dịch </li>
    <li> Để quản lý một cuộc thi, quảng cáo, khảo sát hoặc các tính năng khác của trang web </li>
    <li> Để gửi email định kỳ </li>
    </ul>
    </p>
    
    <h1> Khi nào Lingyo sử dụng thông tin người dùng cuối từ các bên thứ ba? </h1>
    <p> Lingyo sẽ thu thập Dữ liệu Người dùng Cuối cần thiết để cung cấp các dịch vụ Lingyo cho khách hàng của chúng tôi. </p>
    <p> Người dùng cuối có thể tự nguyện cung cấp cho chúng tôi thông tin mà họ có sẵn trên các trang web truyền thông xã hội. Nếu bạn cung cấp cho chúng tôi bất kỳ thông tin nào như vậy, chúng tôi có thể thu thập thông tin công khai từ các trang web truyền thông xã hội mà bạn đã chỉ định. Bạn có thể kiểm soát lượng thông tin mà các trang web mạng xã hội công khai bằng cách truy cập các trang web này và thay đổi cài đặt quyền riêng tư của bạn. </p>
    
    <h1> Khi nào Lingyo sử dụng thông tin khách hàng từ bên thứ ba? </h1>
    <p> Chúng tôi nhận được một số thông tin từ các bên thứ ba khi bạn liên hệ với chúng tôi. Ví dụ: khi bạn gửi địa chỉ email của mình cho chúng tôi để thể hiện mong muốn trở thành khách hàng của Lingyo, chúng tôi sẽ nhận được thông tin từ một bên thứ ba cung cấp dịch vụ phát hiện gian lận tự động cho Lingyo. Chúng tôi cũng thỉnh thoảng thu thập thông tin được công bố rộng rãi trên các trang web truyền thông xã hội. Bạn có thể kiểm soát lượng thông tin mà các trang web mạng xã hội công khai bằng cách truy cập các trang web này và thay đổi cài đặt quyền riêng tư của bạn. </p>
    
    <h1> Chúng tôi có chia sẻ thông tin thu thập được với bên thứ ba không? </h1>
    <p> Chúng tôi có thể chia sẻ thông tin mà chúng tôi thu thập, cả cá nhân và phi cá nhân, với các bên thứ ba, chẳng hạn như nhà quảng cáo, nhà tài trợ cuộc thi, đối tác quảng cáo và tiếp thị và những người khác cung cấp nội dung của chúng tôi hoặc có sản phẩm hoặc dịch vụ mà chúng tôi nghĩ có thể khiến bạn quan tâm . Chúng tôi cũng có thể chia sẻ thông tin này với các công ty liên kết và đối tác kinh doanh hiện tại và tương lai của chúng tôi và nếu chúng tôi tham gia vào việc sáp nhập, bán tài sản hoặc tổ chức lại doanh nghiệp khác, chúng tôi cũng có thể chia sẻ hoặc chuyển thông tin cá nhân và phi cá nhân của bạn cho những người kế nhiệm của chúng tôi -quan tâm. </p>
    <p> Chúng tôi có thể thu hút các nhà cung cấp dịch vụ bên thứ ba đáng tin cậy để thực hiện các chức năng và cung cấp dịch vụ cho chúng tôi, chẳng hạn như lưu trữ và bảo trì máy chủ của chúng tôi cũng như trang web / ứng dụng, lưu trữ và quản lý cơ sở dữ liệu, quản lý e-mail, tiếp thị lưu trữ, xử lý thẻ tín dụng, dịch vụ khách hàng và thực hiện các đơn đặt hàng cho các sản phẩm và dịch vụ mà bạn có thể mua thông qua trang web / ứng dụng. Chúng tôi có thể sẽ chia sẻ thông tin cá nhân của bạn và có thể cả một số thông tin phi cá nhân với các bên thứ ba này để cho phép họ thực hiện các dịch vụ này cho chúng tôi và cho bạn. </p>
    <p> Chúng tôi có thể chia sẻ các phần dữ liệu tệp nhật ký của mình, bao gồm cả địa chỉ IP, cho mục đích phân tích với các bên thứ ba, chẳng hạn như đối tác phân tích trang web, nhà phát triển ứng dụng và mạng quảng cáo. Nếu địa chỉ IP của bạn được chia sẻ, nó có thể được sử dụng để ước tính vị trí chung và các thông số kỹ thuật khác như tốc độ kết nối, cho dù bạn đã truy cập trang web / ứng dụng ở vị trí được chia sẻ và loại thiết bị được sử dụng để truy cập trang web / ứng dụng. Họ có thể tổng hợp thông tin về quảng cáo của chúng tôi và những gì bạn thấy trên trang web / ứng dụng và sau đó cung cấp kiểm tra, nghiên cứu và báo cáo cho chúng tôi và các nhà quảng cáo của chúng tôi. Chúng tôi cũng có thể tiết lộ thông tin cá nhân và phi cá nhân về bạn cho các quan chức chính phủ hoặc cơ quan thực thi pháp luật hoặc các bên tư nhân vì chúng tôi, theo quyết định riêng của mình, tin rằng cần thiết hoặc thích hợp để phản hồi các khiếu nại, quy trình pháp lý (bao gồm trát đòi hầu tòa), để bảo vệ quyền và lợi ích của bên thứ ba, sự an toàn của công chúng hoặc bất kỳ cá nhân nào, để ngăn chặn hoặc dừng bất kỳ hoạt động bất hợp pháp, phi đạo đức hoặc có thể hành động hợp pháp nào hoặc để tuân thủ các lệnh tòa, luật, quy tắc và quy định hiện hành. </ p>
    
    <h1> Thông tin được thu thập từ khách hàng và người dùng cuối ở đâu và khi nào? </h1>
    <p> Lingyo sẽ thu thập thông tin cá nhân mà bạn gửi cho chúng tôi. Chúng tôi cũng có thể nhận thông tin cá nhân về bạn từ các bên thứ ba như được mô tả ở trên. </p>
    
    <h1> Chúng tôi sử dụng địa chỉ email của bạn như thế nào? </h1>
    <p> Bằng cách gửi địa chỉ email của bạn trên trang web / ứng dụng này, bạn đồng ý nhận email từ chúng tôi. Bạn có thể hủy bỏ việc tham gia vào bất kỳ danh sách email nào trong số này bất kỳ lúc nào bằng cách nhấp vào liên kết chọn không tham gia hoặc tùy chọn hủy đăng ký khác có trong email tương ứng. Chúng tôi chỉ gửi email cho những người đã cho phép chúng tôi liên hệ với họ, trực tiếp hoặc thông qua một bên thứ ba. Chúng tôi không gửi các email thương mại không được yêu cầu, vì chúng tôi cũng ghét spam như bạn. Bằng cách gửi địa chỉ email của bạn, bạn cũng đồng ý cho phép chúng tôi sử dụng địa chỉ email của bạn để nhắm mục tiêu đối tượng khách hàng trên các trang web như Facebook, nơi chúng tôi hiển thị quảng cáo tùy chỉnh cho những người cụ thể đã chọn nhận thông tin liên lạc từ chúng tôi. Các địa chỉ email chỉ được gửi qua trang xử lý đơn đặt hàng sẽ được sử dụng cho mục đích duy nhất là gửi cho bạn thông tin và cập nhật liên quan đến đơn đặt hàng của bạn. Tuy nhiên, nếu bạn đã cung cấp cùng một email cho chúng tôi thông qua một phương thức khác, chúng tôi có thể sử dụng nó cho bất kỳ mục đích nào được nêu trong Chính sách này. Lưu ý: Nếu bất kỳ lúc nào bạn muốn hủy đăng ký nhận các email trong tương lai, chúng tôi sẽ gửi kèm hướng dẫn hủy đăng ký chi tiết ở cuối mỗi email. </p>
    
    <h1> Chúng tôi lưu giữ thông tin của bạn trong bao lâu? </h1>
    <p> Chúng tôi chỉ giữ thông tin của bạn chừng nào chúng tôi cần để cung cấp Lingyo cho bạn và thực hiện các mục đích được mô tả trong chính sách này. Đây cũng là trường hợp của bất kỳ ai mà chúng tôi chia sẻ thông tin của bạn và những người thực hiện các dịch vụ thay mặt chúng tôi. Khi chúng tôi không còn cần sử dụng thông tin của bạn nữa và chúng tôi không cần phải giữ thông tin đó để tuân thủ các nghĩa vụ pháp lý hoặc quy định của chúng tôi, chúng tôi sẽ xóa thông tin đó khỏi hệ thống của mình hoặc phi cá nhân hóa thông tin để chúng tôi không thể nhận dạng bạn. < / p>
    
    <h1> Làm cách nào để chúng tôi bảo vệ thông tin của bạn? </h1>
    <p> Chúng tôi thực hiện nhiều biện pháp bảo mật khác nhau để duy trì sự an toàn cho thông tin cá nhân của bạn khi bạn đặt hàng hoặc nhập, gửi hoặc truy cập thông tin cá nhân của bạn. Chúng tôi cung cấp việc sử dụng một máy chủ an toàn. Tất cả thông tin nhạy cảm / tín dụng được cung cấp đều được truyền qua công nghệ Lớp cổng bảo mật (SSL) và sau đó được mã hóa vào cơ sở dữ liệu của nhà cung cấp Cổng thanh toán của chúng tôi để chỉ những người được ủy quyền có quyền truy cập đặc biệt vào các hệ thống đó mới có thể truy cập được và được yêu cầu giữ bí mật thông tin. Sau một giao dịch, thông tin cá nhân của bạn (thẻ tín dụng, số an sinh xã hội, tài chính, v.v.) không bao giờ được lưu trong hồ sơ. Tuy nhiên, chúng tôi không thể đảm bảo hoặc đảm bảo tính bảo mật tuyệt đối của bất kỳ thông tin nào bạn truyền đến Lingyo hoặc đảm bảo rằng thông tin của bạn trên Dịch vụ có thể không bị truy cập, tiết lộ, thay đổi hoặc phá hủy do vi phạm bất kỳ cơ sở vật chất, kỹ thuật hoặc quản lý nào của chúng tôi các biện pháp bảo vệ. </p>
    
    <h1> Thông tin của tôi có thể được chuyển sang các quốc gia khác không? </h1>
    <p> Lingyo được thành lập tại Việt Nam. Thông tin được thu thập qua trang web của chúng tôi, thông qua các tương tác trực tiếp với bạn, hoặc từ việc sử dụng các dịch vụ trợ giúp của chúng tôi có thể được chuyển đôi khi đến các văn phòng hoặc nhân viên của chúng tôi, hoặc cho các bên thứ ba, ở khắp nơi trên thế giới và có thể được xem và lưu trữ ở bất kỳ đâu trong thế giới, bao gồm các quốc gia có thể không có luật áp dụng chung quy định việc sử dụng và chuyển giao dữ liệu đó. Trong phạm vi tối đa được luật hiện hành cho phép, bằng cách sử dụng bất kỳ điều nào ở trên, bạn tự nguyện đồng ý với việc chuyển giao xuyên biên giới và lưu trữ thông tin đó. </p>
    
    <h1> Thông tin được thu thập qua Dịch vụ Lingyo có an toàn không? </h1>
    <p> Chúng tôi thực hiện các biện pháp phòng ngừa để bảo vệ tính bảo mật cho thông tin của bạn. Chúng tôi có các quy trình vật lý, điện tử và quản lý để giúp bảo vệ, ngăn chặn truy cập trái phép, duy trì bảo mật dữ liệu và sử dụng chính xác thông tin của bạn. Tuy nhiên, cả con người và hệ thống bảo mật đều không chống lại được, kể cả hệ thống mã hóa. Ngoài ra, mọi người có thể phạm tội cố ý, phạm sai lầm hoặc không tuân theo chính sách. Do đó, trong khi chúng tôi sử dụng những nỗ lực hợp lý để bảo vệ thông tin cá nhân của bạn, chúng tôi không thể đảm bảo tính bảo mật tuyệt đối của thông tin đó. Nếu luật hiện hành áp đặt bất kỳ nghĩa vụ không từ chối nào để bảo vệ thông tin cá nhân của bạn, bạn đồng ý rằng hành vi sai trái có chủ ý sẽ là tiêu chuẩn được sử dụng để đo lường sự tuân thủ của chúng tôi đối với nghĩa vụ đó. </p>
    
    <h1> Tôi có thể cập nhật hoặc sửa thông tin của mình không? </h1>
    <p> Các quyền bạn có để yêu cầu cập nhật hoặc chỉnh sửa thông tin mà Lingyo thu thập tùy thuộc vào mối quan hệ của bạn với Lingyo. Nhân sự có thể cập nhật hoặc chỉnh sửa thông tin của họ như được nêu chi tiết trong chính sách tuyển dụng nội bộ của công ty chúng tôi. </p>
    <p> Khách hàng có quyền yêu cầu hạn chế sử dụng và tiết lộ một số thông tin nhận dạng cá nhân như sau. Bạn có thể liên hệ với chúng tôi để (1) cập nhật hoặc sửa thông tin nhận dạng cá nhân của bạn, (2) thay đổi tùy chọn của bạn đối với thông tin liên lạc và thông tin khác mà bạn nhận được từ chúng tôi, hoặc (3) xóa thông tin nhận dạng cá nhân được duy trì về bạn trên hệ thống (theo đoạn sau), bằng cách hủy tài khoản của bạn. Các cập nhật, chỉnh sửa, thay đổi và xóa như vậy sẽ không ảnh hưởng đến thông tin khác mà chúng tôi duy trì hoặc thông tin mà chúng tôi đã cung cấp cho bên thứ ba theo Chính sách quyền riêng tư này trước khi cập nhật, chỉnh sửa, thay đổi hoặc xóa. Để bảo vệ quyền riêng tư và bảo mật của bạn, chúng tôi có thể thực hiện các bước hợp lý (chẳng hạn như yêu cầu một mật khẩu duy nhất) để xác minh danh tính của bạn trước khi cấp cho bạn quyền truy cập hồ sơ hoặc thực hiện các chỉnh sửa. Bạn có trách nhiệm duy trì bí mật về mật khẩu và thông tin tài khoản duy nhất của mình mọi lúc. </p>
    <p> Bạn nên biết rằng không thể xóa từng bản ghi thông tin mà bạn đã cung cấp cho chúng tôi khỏi hệ thống của chúng tôi về mặt công nghệ. Nhu cầu sao lưu hệ thống của chúng tôi để bảo vệ thông tin khỏi sự mất mát vô tình có nghĩa là một bản sao thông tin của bạn có thể tồn tại ở dạng không thể xóa được mà chúng tôi sẽ khó hoặc không thể xác định được. Ngay sau khi nhận được yêu cầu của bạn, tất cả thông tin cá nhân được lưu trữ trong cơ sở dữ liệu mà chúng tôi chủ động sử dụng và các phương tiện có thể tìm kiếm dễ dàng khác sẽ được cập nhật, sửa chữa, thay đổi hoặc xóa, nếu thích hợp, ngay khi và trong phạm vi hợp lý và có thể thực hiện về mặt kỹ thuật. </p>
    <p> Nếu bạn là người dùng cuối và muốn cập nhật, xóa hoặc nhận bất kỳ thông tin nào chúng tôi có về bạn, bạn có thể làm như vậy bằng cách liên hệ với tổ chức mà bạn là khách hàng. </p>
    <h1> Bán doanh nghiệp </h1>
    <p> Chúng tôi có quyền chuyển thông tin cho bên thứ ba trong trường hợp bán, sáp nhập hoặc chuyển nhượng khác tất cả hoặc về cơ bản tất cả tài sản của Lingyo hoặc bất kỳ Chi nhánh Công ty nào của Lingyo (như được định nghĩa ở đây), hoặc phần đó của Lingyo hoặc bất kỳ Chi nhánh Công ty nào của nó mà Dịch vụ có liên quan, hoặc trong trường hợp chúng tôi ngừng kinh doanh hoặc nộp đơn yêu cầu hoặc đã nộp đơn chống lại chúng tôi về việc phá sản, tổ chức lại hoặc thủ tục tương tự, miễn là bên thứ ba đồng ý tuân theo với các điều khoản của Chính sách Bảo mật này. </p>
    
    <h1> Chi nhánh </h1>
    <p> Chúng tôi có thể tiết lộ thông tin (bao gồm thông tin cá nhân) về bạn cho các Chi nhánh Công ty của chúng tôi. Đối với các mục đích của Chính sách Bảo mật này, "Chi nhánh Công ty" có nghĩa là bất kỳ cá nhân hoặc tổ chức nào kiểm soát trực tiếp hoặc gián tiếp, được kiểm soát bởi hoặc dưới sự kiểm soát chung với Lingyo, cho dù theo quyền sở hữu hay cách khác. Mọi thông tin liên quan đến bạn mà chúng tôi cung cấp cho các Chi nhánh Công ty của chúng tôi sẽ được các Chi nhánh Công ty đó xử lý theo các điều khoản của Chính sách Bảo mật này. </p>
    
    <h1> Luật điều chỉnh </h1>
    <p> Chính sách Bảo mật này chịu sự điều chỉnh của luật pháp Việt Nam mà không tính đến điều khoản xung đột pháp luật. Bạn đồng ý với quyền tài phán duy nhất của tòa án liên quan đến bất kỳ hành động hoặc tranh chấp nào phát sinh giữa các bên theo hoặc liên quan đến Chính sách quyền riêng tư này ngoại trừ những cá nhân có quyền đưa ra yêu cầu theo Privacy Shield hoặc khuôn khổ Thụy Sĩ-Hoa Kỳ. </p>
    <p> Luật pháp của Việt Nam, không bao gồm các quy tắc xung đột luật, sẽ điều chỉnh Thỏa thuận này và việc bạn sử dụng trang web / ứng dụng. Việc bạn sử dụng trang web / ứng dụng cũng có thể tuân theo các luật khác của địa phương, tiểu bang, quốc gia hoặc quốc tế. </p>
    <p> Bằng cách sử dụng Lingyo hoặc liên hệ trực tiếp với chúng tôi, bạn có nghĩa là bạn chấp nhận Chính sách Bảo mật này. Nếu bạn không đồng ý với Chính sách Bảo mật này, bạn không nên tham gia vào trang web của chúng tôi hoặc sử dụng các dịch vụ của chúng tôi. Việc tiếp tục sử dụng trang web, tham gia trực tiếp với chúng tôi hoặc sau khi đăng các thay đổi đối với Chính sách quyền riêng tư này mà không ảnh hưởng đáng kể đến việc sử dụng hoặc tiết lộ thông tin cá nhân của bạn sẽ có nghĩa là bạn chấp nhận những thay đổi đó. </p>
    
    <h1> Sự đồng ý của bạn </h1>
    <p> Chúng tôi đã cập nhật Chính sách Bảo mật của mình để cung cấp cho bạn sự minh bạch hoàn toàn về những gì đang được thiết lập khi bạn truy cập trang web của chúng tôi và cách nó được sử dụng. Bằng cách sử dụng trang web / ứng dụng của chúng tôi, đăng ký tài khoản hoặc mua hàng, bạn đồng ý với Chính sách quyền riêng tư của chúng tôi và đồng ý với các điều khoản của chính sách này.
    </p>
    
    <h1> Liên kết đến các trang web khác </h1>
    <p> Chính sách Bảo mật này chỉ áp dụng cho Dịch vụ. Các Dịch vụ có thể chứa các liên kết đến các trang web khác không do Lingyo điều hành hoặc kiểm soát. Chúng tôi không chịu trách nhiệm về nội dung, tính chính xác hoặc ý kiến ​​được thể hiện trong các trang web đó, và các trang web đó không được chúng tôi điều tra, giám sát hoặc kiểm tra tính chính xác hoặc hoàn chỉnh. Hãy nhớ rằng khi bạn sử dụng một liên kết để đi từ Dịch vụ đến một trang web khác, Chính sách Bảo mật của chúng tôi sẽ không còn hiệu lực. Việc duyệt và tương tác của bạn trên bất kỳ trang web nào khác, bao gồm cả những trang web có liên kết trên nền tảng của chúng tôi, phải tuân theo các quy tắc và chính sách riêng của trang web đó. Các bên thứ ba như vậy có thể sử dụng cookie của riêng họ hoặc các phương pháp khác để thu thập thông tin về bạn. </p>
    <h1> Cookie </h1>
    <p> Lingyo sử dụng "Cookie" để xác định các khu vực trên trang web của chúng tôi mà bạn đã truy cập. Cookie là một phần dữ liệu nhỏ được trình duyệt web của bạn lưu trữ trên máy tính hoặc thiết bị di động. Chúng tôi sử dụng Cookie để nâng cao hiệu suất và chức năng của trang web / ứng dụng của mình nhưng không cần thiết cho việc sử dụng chúng. Tuy nhiên, nếu không có các cookie này, một số chức năng nhất định như video có thể không khả dụng hoặc bạn sẽ được yêu cầu nhập chi tiết đăng nhập của mình mỗi khi truy cập trang web / ứng dụng vì chúng tôi không thể nhớ rằng bạn đã đăng nhập trước đó. Hầu hết các trình duyệt web có thể được thiết lập để vô hiệu hóa việc sử dụng Cookie. Tuy nhiên, nếu bạn tắt Cookie, bạn có thể không truy cập được chức năng trên trang web của chúng tôi một cách chính xác hoặc hoàn toàn. Chúng tôi không bao giờ đặt Thông tin nhận dạng cá nhân trong Cookie. </p>
    
    <h1> Chặn và vô hiệu hóa cookie và các công nghệ tương tự </h1>
    <p> Dù bạn đang ở đâu, bạn cũng có thể đặt trình duyệt của mình để chặn cookie và các công nghệ tương tự, nhưng hành động này có thể chặn các cookie thiết yếu của chúng tôi và ngăn trang web của chúng tôi hoạt động bình thường và bạn không thể sử dụng đầy đủ tất cả các tính năng của nó Và dịch vụ. Bạn cũng nên biết rằng bạn cũng có thể mất một số thông tin đã lưu (ví dụ: chi tiết đăng nhập đã lưu, tùy chọn trang web) nếu bạn chặn cookie trên trình duyệt của mình. Các trình duyệt khác nhau cung cấp các điều khiển khác nhau cho bạn. Việc tắt cookie hoặc danh mục cookie không xóa cookie khỏi trình duyệt của bạn, bạn sẽ cần tự thực hiện việc này từ bên trong trình duyệt của mình, bạn nên truy cập menu trợ giúp của trình duyệt để biết thêm thông tin. </p>
      <h1> Chi tiết Thanh toán </h1>
      <p> Đối với bất kỳ thẻ tín dụng hoặc chi tiết xử lý thanh toán nào khác mà bạn đã cung cấp cho chúng tôi, chúng tôi cam kết rằng thông tin bí mật này sẽ được lưu trữ theo cách an toàn nhất có thể. </p>
    <h1> Quyền riêng tư của trẻ em </h1>
    <p> Chúng tôi không giải quyết bất kỳ ai dưới 13 tuổi. Chúng tôi không cố ý thu thập thông tin nhận dạng cá nhân từ bất kỳ ai dưới 13 tuổi. Nếu Bạn là cha mẹ hoặc người giám hộ và Bạn biết rằng con Bạn đã cung cấp Dữ liệu Cá nhân cho Chúng tôi , xin vui lòng liên hệ với chúng tôi. Nếu Chúng tôi biết rằng Chúng tôi đã thu thập Dữ liệu Cá nhân từ bất kỳ ai dưới 13 tuổi mà không có sự xác minh của sự đồng ý của cha mẹ, Chúng tôi sẽ thực hiện các bước để xóa thông tin đó khỏi máy chủ của Chúng tôi. </p>
    <h1> Thay đổi Chính sách Bảo mật của Chúng tôi </h1>
    <p> Chúng tôi có thể thay đổi Dịch vụ và chính sách của mình, đồng thời chúng tôi có thể cần thực hiện các thay đổi đối với Chính sách Bảo mật này để chúng phản ánh chính xác Dịch vụ và chính sách của chúng tôi. Trừ khi pháp luật yêu cầu khác, chúng tôi sẽ thông báo cho bạn (ví dụ: thông qua Dịch vụ của chúng tôi) trước khi chúng tôi thực hiện các thay đổi đối với Chính sách quyền riêng tư này và cho bạn cơ hội để xem xét chúng trước khi chúng có hiệu lực. Sau đó, nếu bạn tiếp tục sử dụng Dịch vụ, bạn sẽ bị ràng buộc bởi Chính sách bảo mật được cập nhật. Nếu không muốn đồng ý với điều này hoặc bất kỳ Chính sách quyền riêng tư cập nhật nào, bạn có thể xóa tài khoản của mình. </p>
    
    <h1> Dịch vụ của bên thứ ba </h1>
    <p> Chúng tôi có thể hiển thị, bao gồm hoặc cung cấp nội dung của bên thứ ba (bao gồm dữ liệu, thông tin, ứng dụng và các dịch vụ sản phẩm khác) hoặc cung cấp liên kết đến các trang web hoặc dịch vụ của bên thứ ba ("Dịch vụ của bên thứ ba"). </p>
    <p> Bạn thừa nhận và đồng ý rằng Lingyo sẽ không chịu trách nhiệm đối với bất kỳ Dịch vụ của bên thứ ba nào, bao gồm cả tính chính xác, đầy đủ, kịp thời, hợp lệ, tuân thủ bản quyền, tính hợp pháp, tính trung thực, chất lượng hoặc bất kỳ khía cạnh nào khác của chúng. Lingyo không chịu và sẽ không có bất kỳ nghĩa vụ hoặc trách nhiệm nào đối với bạn hoặc bất kỳ cá nhân hoặc tổ chức nào khác đối với bất kỳ Dịch vụ của Bên thứ ba nào. </p>
    <p> Dịch vụ của bên thứ ba và các liên kết trong đó chỉ được cung cấp nhằm tạo sự thuận tiện cho bạn và bạn truy cập và sử dụng chúng hoàn toàn tự chịu rủi ro và tuân theo các điều khoản và điều kiện của bên thứ ba đó. </p>
    <h1> Công nghệ theo dõi </h1>
    <ul> <li> Cookie
             <br> <br>
             <p> Chúng tôi sử dụng Cookie để nâng cao hiệu suất và chức năng của nền tảng $ của chúng tôi nhưng không cần thiết cho việc sử dụng chúng. Tuy nhiên, nếu không có các cookie này, một số chức năng nhất định như video có thể không khả dụng hoặc bạn sẽ được yêu cầu nhập chi tiết đăng nhập của mình mỗi khi truy cập vào nền tảng $ vì chúng tôi sẽ không thể nhớ rằng bạn đã đăng nhập trước đó. </p>
             </li> <br> <li> Bộ nhớ Cục bộ
        <br> <br>
        <p> Bộ nhớ Cục bộ đôi khi được gọi là bộ nhớ DOM, cung cấp cho các ứng dụng web các phương pháp và giao thức để lưu trữ dữ liệu phía máy khách. Lưu trữ web hỗ trợ lưu trữ dữ liệu liên tục, tương tự như cookie nhưng với dung lượng được nâng cao hơn rất nhiều và không có thông tin nào được lưu trữ trong tiêu đề yêu cầu HTTP. </p> </li> <br> <li> Phiên
           <br> <br>
           <p> $ elnombre sử dụng "Phiên" để xác định các khu vực trên trang web của chúng tôi mà bạn đã truy cập. Phiên là một phần dữ liệu nhỏ được trình duyệt web của bạn lưu trữ trên máy tính hoặc thiết bị di động. </p> </li> <br>
    </ul>
    <h1> Thông tin về Quy định chung về bảo vệ dữ liệu (GDPR) </h1>
    <p> Chúng tôi có thể đang thu thập và sử dụng thông tin từ bạn nếu bạn đến từ Khu vực Kinh tế Châu Âu (EEA) và trong phần này của Chính sách Bảo mật của chúng tôi, chúng tôi sẽ giải thích chính xác cách thức và lý do dữ liệu này được thu thập cũng như cách chúng tôi duy trì dữ liệu này được bảo vệ khỏi bị sao chép hoặc sử dụng sai cách. </p>
    
    <h1> GDPR là gì? </h1>
    <p> GDPR là luật bảo vệ dữ liệu và quyền riêng tư trên toàn Liên minh Châu Âu quy định cách các công ty bảo vệ dữ liệu của cư dân Liên minh Châu Âu và tăng cường quyền kiểm soát của cư dân Liên minh Châu Âu đối với dữ liệu cá nhân của họ. </p>
    <p> GDPR có liên quan đến bất kỳ công ty hoạt động toàn cầu nào chứ không chỉ các doanh nghiệp có trụ sở tại Liên minh Châu Âu và cư dân Liên minh Châu Âu. Dữ liệu khách hàng của chúng tôi rất quan trọng bất kể họ ở đâu, đó là lý do tại sao chúng tôi đã triển khai các biện pháp kiểm soát GDPR làm tiêu chuẩn cơ bản cho tất cả các hoạt động của chúng tôi trên toàn thế giới. </p>
    
    <h1> Dữ liệu cá nhân là gì? </h1>
    <p> Bất kỳ dữ liệu nào liên quan đến một cá nhân có thể nhận dạng hoặc được xác định. GDPR bao gồm nhiều loại thông tin có thể được sử dụng riêng hoặc kết hợp với các phần thông tin khác, để xác định một người. Dữ liệu cá nhân vượt ra ngoài tên hoặc địa chỉ email của một người. Một số ví dụ bao gồm thông tin tài chính, quan điểm chính trị, dữ liệu di truyền, dữ liệu sinh trắc học, địa chỉ IP, địa chỉ thực, khuynh hướng tình dục và dân tộc. </p>
    <p> Nguyên tắc bảo vệ dữ liệu bao gồm các yêu cầu như: </p>
    <ul>
    <li> Dữ liệu cá nhân được thu thập phải được xử lý theo cách công bằng, hợp pháp và minh bạch và chỉ được sử dụng theo cách mà một người mong đợi một cách hợp lý. </li>
    <li> Dữ liệu cá nhân chỉ nên được thu thập để thực hiện một mục đích cụ thể và nó chỉ được sử dụng cho mục đích đó. Các tổ chức phải nêu rõ lý do tại sao họ cần dữ liệu cá nhân khi họ thu thập. </li>
    <li> Dữ liệu cá nhân không được lưu giữ lâu hơn mức cần thiết để thực hiện mục đích của nó. </li>
    <li> Những người thuộc phạm vi điều chỉnh của GDPR có quyền truy cập vào dữ liệu cá nhân của họ. Họ cũng có thể yêu cầu một bản sao dữ liệu của họ và dữ liệu của họ được cập nhật, xóa, hạn chế hoặc chuyển sang một tổ chức khác. </li>
    </ul>
    
    <h1> Tại sao GDPR lại quan trọng? </h1>
    <p> GDPR bổ sung một số yêu cầu mới về cách các công ty nên bảo vệ dữ liệu cá nhân của các cá nhân mà họ thu thập và xử lý. Nó cũng tăng tiền cược cho việc tuân thủ bằng cách tăng cường thực thi và áp dụng các khoản tiền phạt cao hơn nếu vi phạm. Ngoài những sự thật này, đó đơn giản là điều đúng đắn cần làm. Tại Help Scout, chúng tôi thực sự tin tưởng rằng quyền riêng tư về dữ liệu của bạn là rất quan trọng và chúng tôi đã áp dụng các phương pháp bảo mật và quyền riêng tư vững chắc vượt ra ngoài các yêu cầu của quy định mới này. </p>
    
    <h1> Quyền của Chủ thể Dữ liệu Cá nhân - Truy cập Dữ liệu, Khả năng Di chuyển và Xóa </h1>
    <p> Chúng tôi cam kết giúp khách hàng của mình đáp ứng các yêu cầu về quyền đối tượng dữ liệu của GDPR. Lingyo xử lý hoặc lưu trữ tất cả dữ liệu cá nhân trong các nhà cung cấp tuân thủ DPA, đã được kiểm tra đầy đủ. Chúng tôi lưu trữ tất cả các cuộc trò chuyện và dữ liệu cá nhân trong tối đa 6 năm trừ khi tài khoản của bạn bị xóa. Trong trường hợp đó, chúng tôi sẽ xử lý tất cả dữ liệu theo Điều khoản dịch vụ và Chính sách quyền riêng tư của chúng tôi, nhưng chúng tôi sẽ không giữ dữ liệu đó lâu hơn 60 ngày. </p>
    <p> Chúng tôi biết rằng nếu bạn đang làm việc với khách hàng ở Liên minh Châu Âu, bạn cần cung cấp cho họ khả năng truy cập, cập nhật, truy xuất và xóa dữ liệu cá nhân. Chúng tôi có bạn! Chúng tôi đã được thiết lập là tự phục vụ ngay từ đầu và luôn cấp cho bạn quyền truy cập vào dữ liệu của bạn và dữ liệu khách hàng của bạn. Nhóm hỗ trợ khách hàng của chúng tôi luôn sẵn sàng giải đáp mọi thắc mắc của bạn về cách làm việc với API. </p>
    <h1> Cư dân California </h1>
    <p> Đạo luật về quyền riêng tư của người tiêu dùng California (CCPA) yêu cầu chúng tôi tiết lộ các danh mục Thông tin cá nhân mà chúng tôi thu thập và cách chúng tôi sử dụng thông tin đó, danh mục nguồn mà chúng tôi thu thập Thông tin cá nhân và các bên thứ ba mà chúng tôi chia sẻ thông tin đó, mà chúng tôi đã giải thích ở trên. </p>
    <p> Chúng tôi cũng được yêu cầu cung cấp thông tin về các quyền mà cư dân California có theo luật California. Bạn có thể thực hiện các quyền sau: </p>
    <ul>
    <li> Quyền Được biết và Truy cập. Bạn có thể gửi một yêu cầu có thể xác minh về thông tin liên quan đến: (1) các loại Thông tin Cá nhân mà chúng tôi thu thập, sử dụng hoặc chia sẻ; (2) các mục đích mà các loại Thông tin Cá nhân được chúng tôi thu thập hoặc sử dụng; (3) danh mục nguồn mà chúng tôi thu thập Thông tin Cá nhân; và (4) phần Thông tin Cá nhân cụ thể mà chúng tôi đã thu thập về bạn. </li>
    <li> Quyền được Dịch vụ Bình đẳng. Chúng tôi sẽ không phân biệt đối xử chống lại bạn nếu bạn thực hiện các quyền riêng tư của mình. </li>
    <li> Quyền Xóa. Bạn có thể gửi một yêu cầu có thể xác minh để đóng tài khoản của mình và chúng tôi sẽ xóa Thông tin cá nhân về bạn mà chúng tôi đã thu thập. </li>
    <li> Yêu cầu doanh nghiệp bán dữ liệu cá nhân của người tiêu dùng, không bán dữ liệu cá nhân của người tiêu dùng. </li>
    </ul>
    <p> Nếu bạn đưa ra yêu cầu, chúng tôi có một tháng để trả lời bạn. Nếu bạn muốn thực hiện bất kỳ quyền nào trong số này, vui lòng liên hệ với chúng tôi. </p>
    <p> Chúng tôi không bán Thông tin cá nhân của người dùng. </p>
    <p> Để biết thêm thông tin về các quyền này, vui lòng liên hệ với chúng tôi. </p>
    <h1> Đạo luật bảo vệ quyền riêng tư trực tuyến của California (CalOPPA) </h1>
    <p> CalOPPA yêu cầu chúng tôi tiết lộ danh mục Thông tin cá nhân mà chúng tôi thu thập và cách chúng tôi sử dụng thông tin đó, danh mục nguồn mà chúng tôi thu thập Thông tin cá nhân và các bên thứ ba mà chúng tôi chia sẻ thông tin đó, điều mà chúng tôi đã giải thích ở trên. </ p >
    <p> Người dùng CalOPPA có các quyền sau: </p>
    <ul>
    <li> Quyền Được biết và Truy cập. Bạn có thể gửi một yêu cầu có thể xác minh về thông tin liên quan đến: (1) các loại Thông tin Cá nhân mà chúng tôi thu thập, sử dụng hoặc chia sẻ; (2) các mục đích mà các loại Thông tin Cá nhân được chúng tôi thu thập hoặc sử dụng; (3) danh mục nguồn mà chúng tôi thu thập Thông tin Cá nhân; và (4) phần Thông tin Cá nhân cụ thể mà chúng tôi đã thu thập về bạn. </li>
    <li> Quyền được Dịch vụ Bình đẳng. Chúng tôi sẽ không phân biệt đối xử chống lại bạn nếu bạn thực hiện các quyền riêng tư của mình. </li>
    <li> Quyền Xóa. Bạn có thể gửi một yêu cầu có thể xác minh để đóng tài khoản của mình và chúng tôi sẽ xóa Thông tin cá nhân về bạn mà chúng tôi đã thu thập. </li>
    <li> Quyền yêu cầu một doanh nghiệp bán dữ liệu cá nhân của người tiêu dùng chứ không phải bán dữ liệu cá nhân của người tiêu dùng. </li>
    </ul>
    <p> Nếu bạn đưa ra yêu cầu, chúng tôi có một tháng để trả lời bạn. Nếu bạn muốn thực hiện bất kỳ quyền nào trong số này, vui lòng liên hệ với chúng tôi. </p>
    <p> Chúng tôi không bán Thông tin cá nhân của người dùng. </p>
    <p> Để biết thêm thông tin về các quyền này, vui lòng liên hệ với chúng tôi. </p>
    <h1> Liên hệ với chúng tôi </h1>
    <p> Vui lòng liên hệ với chúng tôi nếu bạn có bất kỳ câu hỏi nào. </p>
    <ul> <li> Qua Email: <a href="" class="__cf_email__" data-cfemail="d6b5afb0a3b8bdbbb7bfbab3a496b1bbb7bfbaf8b5b9bb"> [fodancemailer@gmail.com] </a> </li>
    </ul> </body>
    </html>