<html>
<head>
    <title>Quên mật khẩu</title>
    <%- include('header') -%>
</head>
<body>
    <div class="global-lg">
        <div class="main main-login bg-login">
            <div class="bg-image"></div>
            <div class="content content-fg">
                <div class="forgot-password forgot-model">
                    <div class="logo d-flex mg-b-lg">
                        <a href="/"><img src="/public/images/logo/logo1.png"></a>
                    </div>
                    <div class="d-flex-col-start">
                        <h2 class="login-title">Đặt lại mật khẩu mới của bạn</h2>
                        <p class="reset-info-text">Đặt lại mật khẩu mới cho tài khoản của bạn bằng cách hoàn thành thông tin dưới đây.</p>
                    </div>
                    <div class="confirm-reset-model">
                        <form method="POST" action='/forgot-password' class="confirm-reset-token-form">  
                            <label>Mật khẩu</label>
                            <input type="password" name="password" class="password" autocomplete="on">
                            <label>Xác nhận mật khẩu</label>
                            <input type="password" name="confirmPassword" class="password-confirm" autocomplete="on">
                            <button type="button" disabled="disabled" class="submit-token-password submit-but mg-t">Gửi</button>
                        </form>
                        <div class="hint d-flex-col-start">
                            <small class="hint-1">Mật khẩu phải có ít nhất 8 kí tự</small>
                            <small class="hint-2">Mật khẩu phải chứa ít nhất 1 số</small>
                            <small class="hint-3">Hai mật khẩu phải trùng khớp</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/js/forgot.js" async></script>
</body>
</html>