<!DOCTYPE html>
<html>
<head>
    <title>Lingyo</title>
    <%- include('header') -%>
</head>
<body>
    <div class="global-lg font-size-lg-1">
        <div class="main main-login d-flex">
            <div class="content">
                <div class="login-title">
                    <h2 class="large-title"><span class="iconify success-icon mg-r" data-icon="clarity:success-standard-solid" data-inline="false"></span>Giao dịch mua vé thành công!</h2>
                    <a href="/">Trở về Trang chủ >></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>